<!-- Edit this file to change the layout of the detail view form -->

<script src="resources/datepicker/js/datepicker.packed.js"></script>
<link href="resources/datepicker/css/datepicker.css" rel="stylesheet">

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="ss_view_product_sale_price_dates_from_dv_container">
	<!-- child links -->
	<div class="row">
		<div class="col-xs-12">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="ss_view_product_sale_price_dates_from_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<label for="post_id" class="control-label col-lg-3">post_id</label>
					<div class="col-lg-9">
						<p class="form-control-static"><span id="post_id"><%%COMBOTEXT(post_id)%%></span> <%%PLINK(post_id)%%></p>
					</div>
				</div>

				<div class="form-group">
					<label for="sale_price_dates_from" class="control-label col-lg-3">sale_price_dates_from</label>
					<div class="col-lg-9">
						<%%COMBO(sale_price_dates_from)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="id" class="control-label col-lg-3">Id</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="id"><%%VALUE(id)%%></p>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<div class="col-md-4 col-lg-2" id="ss_view_product_sale_price_dates_from_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>

				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		jQuery(function(){
			jQuery('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			jQuery('form').eq(0).change(function(){
				if(jQuery(this).data('already_changed')) return;
				if(jQuery('#deselect').length) jQuery('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				jQuery(this).data('already_changed', true);
			});

			jQuery('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });
		});

	</script>