<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ss_view_product_description-post_id-<%%VALUE(post_id)%%>" class="text-right"><%%VALUE(post_id)%%></td>
		<td id="ss_view_product_description-title-<%%VALUE(post_id)%%>" class=""><%%VALUE(title)%%></td>
		<td id="ss_view_product_description-excerpt-<%%VALUE(post_id)%%>" class=""><%%VALUE(excerpt)%%></td>
		<td id="ss_view_product_description-post_status-<%%VALUE(post_id)%%>" class=""><%%VALUE(post_status)%%></td>
