<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="ss_view_product_description_dv_container">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="ss_view_product_description_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<label for="post_id" class="control-label col-lg-3">post_id</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="post_id"><%%VALUE(post_id)%%></p>
					</div>
				</div>

				<div class="form-group">
					<label for="title" class="control-label col-lg-3">title</label>
					<div class="col-lg-9">
						<input tabindex="1" maxlength="" type="text" class="form-control" name="title" id="title" value="<%%VALUE(title)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="excerpt" class="control-label col-lg-3">excerpt</label>
					<div class="col-lg-9">
						<textarea tabindex="1" class="form-control" name="excerpt" id="excerpt" rows="5"><%%VALUE(excerpt)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="post_status" class="control-label col-lg-3">post_status</label>
					<div class="col-lg-9">
						<%%COMBO(post_status)%%>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<div class="col-md-4 col-lg-2" id="ss_view_product_description_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>

				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">

				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="ss_view_product_description-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		jQuery(function(){
			jQuery('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			jQuery('form').eq(0).change(function(){
				if(jQuery(this).data('already_changed')) return;
				if(jQuery('#deselect').length) jQuery('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				jQuery(this).data('already_changed', true);
			});

			jQuery('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });
		});

		document.observe("dom:loaded", function() {
			/* when no record is selected ('add new' mode) */
			if($$('input[name=SelectedID]')[0].value==''){
				/* hide links to children tables */
				$$('.detail_view a[id]').findAll(function(cl){ return cl.id.match(/_link$/); }).invoke('hide');
				/* skip loading parent/children view */
				return false;
			}
			post(
				'parent-children.php', {
					ParentTable: 'ss_view_product_description',
					SelectedID: '<%%VALUE(post_id)%%>',
					Operation: 'show-children'
				},
				'ss_view_product_description-children'
			);
		});
	</script>