<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ss_view_product_sale_price_dates_from_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ss_view_product_sale_price_dates_from-post_id-<%%VALUE(id)%%>" class="ss_view_product_sale_price_dates_from-post_id text-right"><%%SELECT%%><%%VALUE(post_id)%%><%%ENDSELECT%%></td>
		<td id="ss_view_product_sale_price_dates_from-sale_price_dates_from-<%%VALUE(id)%%>" class="ss_view_product_sale_price_dates_from-sale_price_dates_from "><%%SELECT%%><%%VALUE(sale_price_dates_from)%%><%%ENDSELECT%%></td>
